In [ ]:
import pandas as pd


data = {
    'Name': ['Ahmad', 'Siti', 'Aniq', 'Sarah', 'Malik', 'John', 'Mary', 'Ali', 'Lisa', 'David', 'Emma', 'Hassan', 'Fatima', 'James', 'Anna', 'Ahmad'],
    'Register_Date': ['15/01/2023', '01/02/2023', '20/01/2023', '10/03/2023', '15/02/2023', '05/01/2023', '28/02/2023', '15/03/2023', '30/01/2023', '10/02/2023', '01/03/2023', '25/01/2023', '20/02/2023', '05/03/2023', '10/01/2023', '15/01/2023'],
    'ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1001],
    'Age': ['28', None, '32', '27', '30', '35', '29', None, '31', '33', '26', None, '34', '28', '32', '28'],
    'Salary': [50000, 45000, None, 55000, 60000, 65000, 48000, 52000, None, 70000, 51000, 53000, None, 57000, 62000, 50000],
    'Experience': [3, 2, 6, None, 5, 8, 4, 3, 5, None, 2, 7, 6, None, 4, 3],
    'Performance_Score': [8.5, 7.9, 9.2, 8.7, None, 8.9, None, 8.2, 9.0, 8.8, 7.8, 9.1, 8.4, 8.6, None, 8.5],
    'Department': ['Sales', 'IT', None, 'HR', 'Marketing', 'Sales', 'IT', 'Marketing', None, 'HR', 'Sales', None, 'IT', 'Marketing', 'HR', 'Sales'],
    'Projects_Completed': [12, 8, 15, None, 10, 14, 9, None, 11, 13, None, 16, 7, 12, 9, 12],
    'Training_Hours': [40, None, 60, 35, 45, None, 50, 40, 55, 30, 45, None, 50, 35, 40, 40],
    'Leave_Days': [10, 12, None, 8, 15, 7, None, 11, 9, 14, 8, 13, None, 10, 12, 10],
    'Bonus': [2000, None, 3500, 2500, 4000, 3000, 2200, None, 2800, 4500, 2100, 3200, None, 2700, 3800, 2000]
}

# Initialize DataFrame
df = pd.DataFrame(data)

df

In [ ]:
# Changing the index

df.set_index('ID', inplace=True)

df

In [ ]:
# Accessing the data using .loc[index]

df.loc[1002]

In [ ]:
# Adding new data using loc[index]

new_data = {
    'Name': 'Raj',
    'Age': 25,
    'Salary': 50000,
    'Experience': 3,
    'Performance_Score': 8.5,
    'Department': 'IT',
    'Projects_Completed': 12,
    'Training_Hours': 40,
    'Leave_Days': 10,
    'Bonus': 2000
}

df.loc[1016] = new_data

df

In [ ]:
import pandas as pd

"""
Read CSV file
df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

Read Excel file
df = pd.read_excel('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.xlsx')

Read JSON file
df = pd.read_json('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.json')

Read Parquet file
df = pd.read_parquet('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.parquet')

"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')
df

In [ ]:
print(f"The shape of the dataframe is {df.shape}")
print('-------')

print(f"The columns of the dataframe are {df.columns}")
print('-------')


print(f"The head of the dataframe is {df.head()}")
print('-------')


print(f"The tail of the dataframe is {df.tail()}")
print('-------')


print(f"The null values of the dataframe are {df.isnull().sum()}")
print('-------')

In [ ]:
filter_df = df.drop(columns=['Performance_Score'])

filter_df

In [ ]:
drop_duplicate_df = df.drop_duplicates()

drop_duplicate_df

In [ ]:
"""
Handling Null Values

1. Impute the null values with the mean, median, mode
2. Fill in with any value
3. Drop the rows with null values

"""

# (1): Impute the null values with the mean, median, mode

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')


print(f"The mean of the Salary column is {df['Salary'].median()}")

df['Salary'].fillna(df['Salary'].median(), inplace=True)
df

In [ ]:
# (2): Filling null values with any value

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df['Salary'].fillna(1000, inplace=True)
df

In [ ]:
# (3): Dropping the rows with null values

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df.dropna(inplace=True)

df

In [ ]:
"""
Changing the Data Types
"""

data = {
    'Name': ['Ahmad', 'Siti', 'Aniq', 'Sarah', 'Malik', 'John', 'Mary', 'Ali', 'Lisa', 'David', 'Emma', 'Hassan', 'Fatima', 'James', 'Anna', 'Ahmad'],
    'Register_Date': ['15/01/2023', '01/02/2023', '20/01/2023', '10/03/2023', '15/02/2023', '05/01/2023', '28/02/2023', '15/03/2023', '30/01/2023', '10/02/2023', '01/03/2023', '25/01/2023', '20/02/2023', '05/03/2023', '10/01/2023', '15/01/2023'],
    'ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1001],
    'Age': ['28', None, '32', '27', '30', '35', '29', None, '31', '33', '26', None, '34', '28', '32', '28'],
    'Salary': [50000, 45000, None, 55000, 60000, 65000, 48000, 52000, None, 70000, 51000, 53000, None, 57000, 62000, 50000],
    'Experience': [3, 2, 6, None, 5, 8, 4, 3, 5, None, 2, 7, 6, None, 4, 3],
    'Performance_Score': [8.5, 7.9, 9.2, 8.7, None, 8.9, None, 8.2, 9.0, 8.8, 7.8, 9.1, 8.4, 8.6, None, 8.5],
    'Department': ['Sales', 'IT', None, 'HR', 'Marketing', 'Sales', 'IT', 'Marketing', None, 'HR', 'Sales', None, 'IT', 'Marketing', 'HR', 'Sales'],
    'Projects_Completed': [12, 8, 15, None, 10, 14, 9, None, 11, 13, None, 16, 7, 12, 9, 12],
    'Training_Hours': [40, None, 60, 35, 45, None, 50, 40, 55, 30, 45, None, 50, 35, 40, 40],
    'Leave_Days': [10, 12, None, 8, 15, 7, None, 11, 9, 14, 8, 13, None, 10, 12, 10],
    'Bonus': [2000, None, 3500, 2500, 4000, 3000, 2200, None, 2800, 4500, 2100, 3200, None, 2700, 3800, 2000]
}

# Initialize DataFrame
df = pd.DataFrame(data)

print(df.dtypes)
print('-------')

"""
Based on observation, we can see that the Age column is a string (Object).

Remarks: You can't convert the Age column to integer because it contains null values.
So, we need to drop the rows with null values in the 'Age' column only then we can convert the Age column to integer.

# Convert the Age column to integer
df['Age'] = df['Age'].astype(int)

print(df.dtypes)
"""

# Drop rows with null values in the 'Age' column only
df = df.dropna(subset=['Age'])

# Now we can safely convert Age to integer
df['Age'] = df['Age'].astype(int)

print(f"After the change, the data types of the columns are:")
print(df.dtypes)

In [ ]:
"""
Let's say for whatever reason, you need to change the 'Age' to String
"""

df['Age'] = df['Age'].astype(str)
df.dtypes

In [ ]:
"""
Changing Str to Datetime
"""

data = {
    'Name': ['Ahmad', 'Siti', 'Aniq', 'Sarah', 'Malik', 'John', 'Mary', 'Ali', 'Lisa', 'David', 'Emma', 'Hassan', 'Fatima', 'James', 'Anna', 'Ahmad'],
    'Register_Date': ['15/01/2023', '01/02/2023', '20/01/2023', '10/03/2023', '15/02/2023', '05/01/2023', '28/02/2023', '15/03/2023', '30/01/2023', '10/02/2023', '01/03/2023', '25/01/2023', '20/02/2023', '05/03/2023', '10/01/2023', '15/01/2023'],
    'Quitting_Date': ['15-12-2023', '20-11-2023', '05-10-2023', '30-09-2023', '15-08-2023', '01-07-2023', '10-06-2023', '25-05-2023', '12-04-2023', '28-03-2023', '17-04-2023', '22-01-2024', '08-03-2024', '19-04-2024', '30-05-2024', '14-06-2024'],
    'ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1001],
    'Age': ['28', None, '32', '27', '30', '35', '29', None, '31', '33', '26', None, '34', '28', '32', '28'],
    'Salary': [50000, 45000, None, 55000, 60000, 65000, 48000, 52000, None, 70000, 51000, 53000, None, 57000, 62000, 50000],
    'Experience': [3, 2, 6, None, 5, 8, 4, 3, 5, None, 2, 7, 6, None, 4, 3],
    'Performance_Score': [8.5, 7.9, 9.2, 8.7, None, 8.9, None, 8.2, 9.0, 8.8, 7.8, 9.1, 8.4, 8.6, None, 8.5],
    'Department': ['Sales', 'IT', None, 'HR', 'Marketing', 'Sales', 'IT', 'Marketing', None, 'HR', 'Sales', None, 'IT', 'Marketing', 'HR', 'Sales'],
    'Projects_Completed': [12, 8, 15, None, 10, 14, 9, None, 11, 13, None, 16, 7, 12, 9, 12],
    'Training_Hours': [40, None, 60, 35, 45, None, 50, 40, 55, 30, 45, None, 50, 35, 40, 40],
    'Leave_Days': [10, 12, None, 8, 15, 7, None, 11, 9, 14, 8, 13, None, 10, 12, 10],
    'Bonus': [2000, None, 3500, 2500, 4000, 3000, 2200, None, 2800, 4500, 2100, 3200, None, 2700, 3800, 2000]
}

df = pd.DataFrame(data)

df.dtypes

df['Register_Date'] = pd.to_datetime(df['Register_Date'], format='%d/%m/%Y')
df['Quitting_Date'] = pd.to_datetime(df['Quitting_Date'], format='%d-%m-%Y')
df.dtypes

df['Work Period'] = df['Quitting_Date'] - df['Register_Date']

df

In [ ]:

"""
Column Selection
"""

data = {
    'Name': ['Ahmad', 'Siti', 'Aniq', 'Sarah', 'Malik', 'John', 'Mary', 'Ali', 'Lisa', 'David', 'Emma', 'Hassan', 'Fatima', 'James', 'Anna', 'Ahmad'],
    'Register_Date': ['15/01/2023', '01/02/2023', '20/01/2023', '10/03/2023', '15/02/2023', '05/01/2023', '28/02/2023', '15/03/2023', '30/01/2023', '10/02/2023', '01/03/2023', '25/01/2023', '20/02/2023', '05/03/2023', '10/01/2023', '15/01/2023'],
    'Quitting_Date': ['15-12-2023', '20-11-2023', '05-10-2023', '30-09-2023', '15-08-2023', '01-07-2023', '10-06-2023', '25-05-2023', '12-04-2023', '28-03-2023', '17-04-2023', '22-01-2024', '08-03-2024', '19-04-2024', '30-05-2024', '14-06-2024'],
    'ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1001],
    'Age': ['28', None, '32', '27', '30', '35', '29', None, '31', '33', '26', None, '34', '28', '32', '28'],
    'Salary': [50000, 45000, None, 55000, 60000, 65000, 48000, 52000, None, 70000, 51000, 53000, None, 57000, 62000, 50000],
    'Experience': [3, 2, 6, None, 5, 8, 4, 3, 5, None, 2, 7, 6, None, 4, 3],
    'Performance_Score': [8.5, 7.9, 9.2, 8.7, None, 8.9, None, 8.2, 9.0, 8.8, 7.8, 9.1, 8.4, 8.6, None, 8.5],
    'Department': ['Sales', 'IT', None, 'HR', 'Marketing', 'Sales', 'IT', 'Marketing', None, 'HR', 'Sales', None, 'IT', 'Marketing', 'HR', 'Sales'],
    'Projects_Completed': [12, 8, 15, None, 10, 14, 9, None, 11, 13, None, 16, 7, 12, 9, 12],
    'Training_Hours': [40, None, 60, 35, 45, None, 50, 40, 55, 30, 45, None, 50, 35, 40, 40],
    'Leave_Days': [10, 12, None, 8, 15, 7, None, 11, 9, 14, 8, 13, None, 10, 12, 10],
    'Bonus': [2000, None, 3500, 2500, 4000, 3000, 2200, None, 2800, 4500, 2100, 3200, None, 2700, 3800, 2000]
}

df = pd.DataFrame(data)

df = df.get(['Name']) # or df[['Name']]

df

In [ ]:
"""
Row Filtering
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df = df[df['Salary'] > 50000]

df

In [ ]:
"""
Multi-row Filtering
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df = df[(df['Salary'] > 50000) & (df['Performance_Score'] < 8)]

df

In [ ]:
"""
Row Filtering for Date
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df['Register_Date'] = pd.to_datetime(df['Register_Date'], format='%d/%m/%Y')

df = df[df['Register_Date'] > '2023-01-20']

# or you can use the following code
# df = df[df['Register_Date'].dt.month == 1]


df

In [ ]:
"""
Row Filtering + Column Selection
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df = df[(df['Salary'] > 50000)].get(['Name', 'Salary'])

# or you can inversely select the rows first then select the columns

df = df.get(['Name', 'Salary'])[(df['Salary'] > 50000)]

df

In [ ]:
"""
Row Slicing
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df = df.iloc[0:10]

df

In [ ]:
"""
Add Column with Constant Value
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df['Department'] = 'IT'

df

In [ ]:
"""
Add Column with Existing Column
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df['Increment_Salary'] = df['Salary'] * 0.1

df

In [ ]:
"""
Add column with hardcoded value
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df['Number_of_Projects'] = [10, 12, 15, 10, 14, 16, 9, 11, 13, 16, 7, 12, 9, 12, 20, 20]

df

In [ ]:
"""
Add Column with String Manipulation
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df['Name'] = df['Name'].str.lower()

df

In [ ]:
"""
Add column with date manipulation
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df['Register_Date'] = pd.to_datetime(df['Register_Date'], format='%d/%m/%Y')

df['Register_Month'] = df['Register_Date'].dt.month

df['Register_Year'] = df['Register_Date'].dt.year

df['Register_Day'] = df['Register_Date'].dt.day

df.get(['Register_Date', 'Register_Month', 'Register_Year', 'Register_Day'])

In [ ]:
"""
Add Column data with Function
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')


def salary_level(salary):
    if salary < 50000:
        return 'High'
    elif salary >= 50000 and salary < 100000:
        return 'Middle'
    else:
        return 'Low'
    

df['Salary_Level'] = df['Salary'].apply(salary_level)

df.get(['Name', 'Salary', 'Salary_Level'])

In [ ]:
"""
Add Column data with Function
"""

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')


def salary_level(row):
    if row['Salary'] < 50000:
        return 'High'
    elif row['Salary'] >= 50000 and row['Salary'] < 100000:
        return 'Middle'
    else:
        return 'Low'
    
df['Salary_Level'] = df.apply(salary_level, axis=1)

df.get(['Name', 'Salary', 'Salary_Level'])

In [ ]:
"""
Exercise
"""

import pandas as pd
import numpy as np

# Creating a dictionary with country data
countries_data = {
    'Country': [
        'United States', 'China', 'Japan', 'Germany', 'India', 
        'United Kingdom', 'France', 'Brazil', 'Italy', 'Canada',
        'South Korea', 'Australia', 'Spain', 'Mexico', 'Indonesia',
        'Netherlands', 'Saudi Arabia', 'Turkey', 'Switzerland', 'Poland',
        'Sweden', 'Belgium', 'Nigeria', 'Argentina', 'Norway',
        'Austria', 'Thailand', 'United Arab Emirates', 'Egypt', 'Ireland',
        'Singapore', 'Malaysia', 'South Africa', 'Philippines', 'Colombia',
        'Pakistan', 'Chile', 'Vietnam', 'Bangladesh', 'New Zealand'
    ],
    'Continent': [
        'North America', 'Asia', 'Asia', 'Europe', 'Asia',
        'Europe', 'Europe', 'South America', 'Europe', 'North America',
        'Asia', 'Oceania', 'Europe', 'North America', 'Asia',
        'Europe', 'Asia', 'Asia', 'Europe', 'Europe',
        'Europe', 'Europe', 'Africa', 'South America', 'Europe',
        'Europe', 'Asia', 'Asia', 'Africa', 'Europe',
        'Asia', 'Asia', 'Africa', 'Asia', 'South America',
        'Asia', 'South America', 'Asia', 'Asia', 'Oceania'
    ],
    'Date_Joined_UN': [
        '1945-10-24', '1945-10-24', '1956-12-18', '1973-09-18', '1945-10-30',
        '1945-10-24', '1945-10-24', '1945-10-24', '1955-12-14', '1945-11-09',
        '1991-09-17', '1945-11-01', '1955-12-14', '1945-11-07', '1950-09-28',
        '1945-12-10', '1945-10-24', '1945-10-24', '2002-09-10', '1945-10-24',
        '1946-11-19', '1945-12-27', '1960-10-07', '1945-10-24', '1945-11-27',
        '1955-12-14', '1946-12-16', '1971-12-09', '1945-10-24', '1955-12-14',
        '1965-09-21', '1957-09-17', '1945-11-07', '1945-10-24', '1945-11-05',
        '1947-09-30', '1945-10-24', '1977-09-20', '1974-09-17', '1945-10-24'
    ],
    'GDP_Growth_Rate': [
        2.3, 6.1, 0.7, 1.5, 4.2,
        1.4, 1.5, 1.1, 0.3, 1.6,
        2.0, 2.2, 2.0, 2.0, 5.0,
        1.7, None, 0.9, 1.1, 4.1,
        1.2, 1.4, 2.2, -2.2, 1.2,
        1.6, 2.4, 1.7, 5.6, 5.5,
        0.7, 4.3, 0.2, 5.9, 3.3,
        1.0, 1.1, 7.0, 8.2, 2.2
    ],
    'Population_Millions': [
        331.0, 1412.0, 125.7, 83.2, 1380.0,
        67.9, 65.3, 212.6, 60.5, 38.0,
        51.7, 25.7, 47.4, 128.9, 273.5,
        17.1, 34.8, 84.3, 8.6, 37.8,
        10.4, 11.6, 206.1, 45.2, 5.4,
        9.0, 69.8, 9.9, 102.3, 4.9,
        5.7, 32.4, 59.3, 109.6, 50.9,
        220.9, 19.1, 97.3, 164.7, 5.1
    ],
    'GDP_Billions': [
        21433, 14343, 5082, 3846, None,
        2829, 2716, 1830, 1886, 1643,
        1630, 1323, 1281, 1076, 1058,
        907, 793, 760, 703, 594,
        541, 515, None, 445, 403,
        417, 505, 421, 303, 388,
        340, 336, 329, 331, 314,
        282, 282, 261, 249, 206
    ],
    'Birth_Rate': [
        11.6, 11.3, 7.3, 9.5, 17.5,
        10.7, 11.2, 13.9, 7.0, 10.1,
        6.4, 12.1, 7.4, 17.6, None,
        9.8, 14.7, 15.3, 10.5, 9.1,
        11.3, 9.9, 35.2, 16.5, 9.9,
        9.8, None, 9.8, 27.2, 11.2,
        8.9, 16.4, 19.2, 22.1, 14.8,
        27.4, 12.4, None, 18.1, 12.8
    ],
    'Internet_Users_Percent': [
        '89.4', '64.5', '93.7', '89.7', '50.0',
        '94.9', '85.6', '74.0', '74.4', '91.6',
        '96.2', '86.5', '93.2', '70.1', '53.7',
        '93.2', '95.7', '77.7', '93.1', '78.3',
        '94.5', '90.7', '42.0', '74.3', '96.5',
        '87.9', '77.8', '99.1', '57.3', '84.5',
        '88.4', '84.2', '56.2', '72.0', '65.0',
        '17.1', '82.3', '70.3', '22.0', '90.8'
    ]
}


"""
Exercise

1. Handle null values with imputing with mean.
2. Change Datatype of Internet_Users_Percent to float.
3. Change datatype of Date_Joined_UN to datetime.
4. Get Actual number of Internet Users in Millions from the Internet_Users_Percent * Population_Millions.
5. Label Internet Users based on the following criteria and add to a new column called "Internet_Users_Label":
    - High: 30 million or more
    - Medium: 10 million to 30 million
    - Low: Less than 10 million

"""
df = pd.DataFrame(countries_data)
df

In [ ]:
"""
Aggregation Data
"""
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df
df['Experience'] = df['Experience'].fillna(df['Experience'].mean())
df['Performance_Score'] = df['Performance_Score'].fillna(df['Performance_Score'].mean())
df['Projects_Completed'] = df['Projects_Completed'].fillna(df['Projects_Completed'].mean())
df['Training_Hours'] = df['Training_Hours'].fillna(df['Training_Hours'].mean())
df['Leave_Days'] = df['Leave_Days'].fillna(df['Leave_Days'].mean())
df['Bonus'] = df['Bonus'].fillna(df['Bonus'].mean())

df_agg = df.agg({
    'Salary': ['mean', 'median', 'max'],
    'Experience': ['mean', 'median', 'min', 'max'],
})

df_agg

In [ ]:
"""
Aggregation Data with Group By
"""
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df
df['Experience'] = df['Experience'].fillna(df['Experience'].mean())
df['Performance_Score'] = df['Performance_Score'].fillna(df['Performance_Score'].mean())
df['Projects_Completed'] = df['Projects_Completed'].fillna(df['Projects_Completed'].mean())
df['Training_Hours'] = df['Training_Hours'].fillna(df['Training_Hours'].mean())
df['Leave_Days'] = df['Leave_Days'].fillna(df['Leave_Days'].mean())
df['Bonus'] = df['Bonus'].fillna(df['Bonus'].mean())

df_agg = df.groupby('Department').agg({
    'Salary': ['mean', 'median', 'max'],
    'Experience': ['mean', 'median', 'min', 'max'],
})

df_agg

In [ ]:
"""
Correlation Data
"""
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/employee_data.csv')

df
df['Experience'] = df['Experience'].fillna(df['Experience'].mean())
df['Performance_Score'] = df['Performance_Score'].fillna(df['Performance_Score'].mean())
df['Projects_Completed'] = df['Projects_Completed'].fillna(df['Projects_Completed'].mean())
df['Training_Hours'] = df['Training_Hours'].fillna(df['Training_Hours'].mean())
df['Leave_Days'] = df['Leave_Days'].fillna(df['Leave_Days'].mean())
df['Bonus'] = df['Bonus'].fillna(df['Bonus'].mean())

df = df[['Salary', 'Experience', 'Performance_Score', 'Projects_Completed', 'Training_Hours', 'Leave_Days', 'Bonus']]
df.corr()

In [ ]:
"""
Concatenate DataFrames
"""
import pandas as pd

data_1 = {
    'Name': ['John', 'Sarah', 'Mike', 'Lisa', 'David'],
    'Age': [28, 34, 22, 31, 45],
    'City': ['New York', 'Boston', 'Chicago', 'Miami', 'Seattle'],
    'Salary': [65000, 72000, 48000, 59000, 85000],
    'Department': ['Sales', 'Marketing', 'IT', 'HR', 'Finance']
}


data_2 = {
    'Name': ['Emma', 'Alex', 'Olivia', 'Daniel', 'Sophia'],
    'Age': [29, 36, 25, 42, 33],
    'City': ['Los Angeles', 'San Francisco', 'Denver', 'Austin', 'Portland'],
    'Salary': [68000, 75000, 52000, 88000, 63000],
    'Department': ['Marketing', 'Finance', 'IT', 'Sales', 'HR']
}

# Create DataFrames
df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)


df_concat = pd.concat([df_1, df_2])
df_concat

In [ ]:
"""
Loop in DataFrame
"""

import pandas as pd

data = {
    'Name': ['Ahmad', 'Siti', 'Aniq', 'Sarah', 'Malik', 'John', 'Mary', 'Ali', 'Lisa', 'David', 'Emma', 'Hassan', 'Fatima', 'James', 'Anna', 'Ahmad'],
    'Register_Date': ['15/01/2023', '01/02/2023', '20/01/2023', '10/03/2023', '15/02/2023', '05/01/2023', '28/02/2023', '15/03/2023', '30/01/2023', '10/02/2023', '01/03/2023', '25/01/2023', '20/02/2023', '05/03/2023', '10/01/2023', '15/01/2023'],
    'Quitting_Date': ['15-12-2023', '20-11-2023', '05-10-2023', '30-09-2023', '15-08-2023', '01-07-2023', '10-06-2023', '25-05-2023', '12-04-2023', '28-03-2023', '17-04-2023', '22-01-2024', '08-03-2024', '19-04-2024', '30-05-2024', '14-06-2024'],
    'ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1001],
    'Age': ['28', None, '32', '27', '30', '35', '29', None, '31', '33', '26', None, '34', '28', '32', '28'],
    'Salary': [50000, 45000, None, 55000, 60000, 65000, 48000, 52000, None, 70000, 51000, 53000, None, 57000, 62000, 50000],
    'Experience': [3, 2, 6, None, 5, 8, 4, 3, 5, None, 2, 7, 6, None, 4, 3],
    'Performance_Score': [8.5, 7.9, 9.2, 8.7, None, 8.9, None, 8.2, 9.0, 8.8, 7.8, 9.1, 8.4, 8.6, None, 8.5],
    'Department': ['Sales', 'IT', None, 'HR', 'Marketing', 'Sales', 'IT', 'Marketing', None, 'HR', 'Sales', None, 'IT', 'Marketing', 'HR', 'Sales'],
    'Projects_Completed': [12, 8, 15, None, 10, 14, 9, None, 11, 13, None, 16, 7, 12, 9, 12],
    'Training_Hours': [40, None, 60, 35, 45, None, 50, 40, 55, 30, 45, None, 50, 35, 40, 40],
    'Leave_Days': [10, 12, None, 8, 15, 7, None, 11, 9, 14, 8, 13, None, 10, 12, 10],
    'Bonus': [2000, None, 3500, 2500, 4000, 3000, 2200, None, 2800, 4500, 2100, 3200, None, 2700, 3800, 2000]
}

df = pd.DataFrame(data)

for idx, row in df.iterrows():
    print(f"Index: {idx}")
    print(row)
    print('--------------------------------')

In [ ]:
"""
Resample Data
"""
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/BTC_1h.csv')
df['timestamp'] = pd.to_datetime(df['timestamp'])
df.set_index('timestamp', inplace=True)
df

df.resample('1d').agg({'open': 'first', 'high': 'max', 'low': 'min', 'close': 'last', 'volume': 'sum'})

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/BTC_1h.csv')
df['timestamp'] = pd.to_datetime(df['timestamp'])

filtered_date_df = df[(df['timestamp'] > '2023-08-24') & (df['timestamp'] < '2023-08-25')]

filtered_date_df.get(['timestamp', 'open', 'high', 'low', 'close', 'volume'])

In [ ]:
"""
Rolling Data
"""
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/BTC_1h.csv')

df['SMA_10'] = df['close'].rolling(window=10).mean()
df['SMA_20'] = df['close'].rolling(window=20).mean()

df.get(['timestamp', 'close', 'SMA_10', 'SMA_20']).head(20)

In [ ]:

"""
Rolling Data Part 2
"""

data ={
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'Price': [100, 102, 101, 103, 104],
    'Volume': [1000, 1000, 1000, 1000, 1000]
}

df = pd.DataFrame(data)

df['average_2_days'] = df['Price'].rolling(window=2).mean()
df['sum_2_days'] = df['Price'].rolling(window=2).sum()

df

In [ ]:
import pandas as pd
import pandas_ta as ta

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/BTC_1h.csv')
df = df[['timestamp', 'open', 'high', 'low', 'close', 'volume']]


df['EMA_26'] = ta.ema(df['close'], length=26)
df['EMA_50'] = ta.ema(df['close'], length=50)

balance = 10000
btc_holdings = 0
trades = []
position = 'CASH'


for idx, row in df.iterrows():
    if idx < 26:
        continue

In [ ]:
import pandas as pd
import pandas_ta as ta

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/BTC_1h.csv')
df = df[['timestamp', 'open', 'high', 'low', 'close', 'volume']]


df['EMA_26'] = ta.ema(df['close'], length=26)
df['EMA_50'] = ta.ema(df['close'], length=50)

balance = 10000
btc_holdings = 0
trades = []
position = 'CASH'


for idx, row in df.iterrows():
    if idx < 26:
        continue

    prev_data = df.loc[idx-1]
    current_data = df.loc[idx]

    if current_data['EMA_26'] > current_data['EMA_50'] and prev_data['EMA_26'] <= prev_data['EMA_50'] and position == 'CASH':
        btc_holdings = balance / current_data['close']
        balance = 0
        position = 'IN_POSITION'
        trades.append({'timestamp': current_data['timestamp'], 'action': 'buy', 'price': current_data['close'], 'btc_holdings': btc_holdings})
    elif current_data['EMA_26'] < current_data['EMA_50'] and prev_data['EMA_26'] >= prev_data['EMA_50'] and position == 'IN_POSITION':
        balance = btc_holdings * current_data['close']
        btc_holdings = 0
        position = 'CASH'
        trades.append({'timestamp': current_data['timestamp'], 'action': 'sell', 'price': current_data['close'], 'balance': balance})



print(f"Final balance: {balance +btc_holdings * current_data['close']}")
print(f"Total trades: {len(trades)}")
print(f"Trades:")

for trade in trades:
    print(trade)

In [ ]:
import pandas as pd
import pandas_ta as ta

df = pd.read_csv('https://raw.githubusercontent.com/nextynewb/um-python-bootcamp/main/dataset/BTC_1h.csv')

df['timestamp'] = pd.to_datetime(df['timestamp'])

df['EMA_26'] = ta.ema(df['close'], length=26)
df['EMA_50'] = ta.ema(df['close'], length=50)

df['SMA_26'] = ta.sma(df['close'], length=26)
df['SMA_50'] = ta.sma(df['close'], length=50)


df['RSI_14'] = ta.rsi(df['close'], length=14)
df[['MACD_12_26_9_MACD', 'MACD_12_26_9_MACD_signal', 'MACD_12_26_9_MACD_hist']] = ta.macd(df['close'], length=12, fast=26, slow=9)
df[['ADX_14_ADX', 'ADX_14_DIP', 'ADX_14_DIM']] = ta.adx(df['high'], df['low'], df['close'], length=14)
df[['BBANDS_20_2_2_upper', 'BBANDS_20_2_2_middle', 'BBANDS_20_2_2_lower', 'BBANDS_20_2_2_width', 'BBANDS_20_2_2_bandwidth']] = ta.bbands(df['close'], length=20, std=2)

# Stochastic Oscillator
df[['STOCH_14_3_3_k', 'STOCH_14_3_3_d']] = ta.stoch(df['high'], df['low'], df['close'], k=14, d=3, smooth_k=3)

# Average True Range (ATR)
df['ATR_14'] = ta.atr(df['high'], df['low'], df['close'], length=14)

# On-Balance Volume (OBV)
df['OBV'] = ta.obv(df['close'], df['volume'])

# Commodity Channel Index (CCI)
df['CCI_20'] = ta.cci(df['high'], df['low'], df['close'], length=20)

# Williams %R
df['WILLR_14'] = ta.willr(df['high'], df['low'], df['close'], length=14)

# Parabolic SAR
df['PSAR'] = ta.psar(df['high'], df['low'])['PSARl_0.02_0.2']
# Ichimoku Cloud

# Keltner Channel
keltner = ta.kc(df['high'], df['low'], df['close'], length=20)
df = pd.concat([df, keltner], axis=1)

# Chande Momentum Oscillator
df['CMO_14'] = ta.cmo(df['close'], length=14)

# Money Flow Index
df['MFI_14'] = ta.mfi(df['high'], df['low'], df['close'], df['volume'], length=14)


# Awesome Oscillator
df['AO'] = ta.ao(df['high'], df['low'])


# Check Doji
df['DOJI'] = ta.cdl_doji(df['open'], df['high'], df['low'], df['close'])


# More can be check at https://github.com/Data-Analisis/Technical-Analysis-Indicators---Pandas?tab=readme-ov-file#candles-3

df

In [ ]:
print(ta.bbands(df['close'], length=20, std=2))